.screen{
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #0000;
	-ms-overflow-style: none;
	scrollbar-width: none;
	-webkit-app-region: drag;
}
.screen::-webkit-scrollbar{
	display: none;
}
.helpText{
	position: absolute;
	right: 5px;
	bottom: 3px;
	margin: 0;
	padding: 0 3px;
	color: #fff;
	background-color: #0005;
	border-radius: 3px;
	/* text-shadow: 0px 0px 5px #000; */
}
.timelineName{
	position: absolute;
	left: 5px;
	top: 5px;
	margin: 0;
	padding: 0 3px;
	color: #fff;
	background-color: #0005;
	border-radius: 3px;
	/* text-shadow: 0px 0px 5px #000; */
}
.comment {
	margin-bottom: 0;
	position: absolute;
	line-height: 1;
	z-index: 2;
	color: #fff;
	text-shadow: -1px -1px #000, 1px -1px #000,	-1px 1px #000, 1px 1px #000;
	overflow: hidden;
	white-space: nowrap;
}
.p_comment{
	margin: 0;
}
.content{
	margin-bottom: 0;
}
.user{
	margin-left: 40px;
	font-size: 15px;
}
.videoWrapper{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
	background-size: cover;
	background-color: #0f0;
	-webkit-app-region: no-drag;
}
.close {
	text-decoration: none;
	font-size: 20px;
	position: absolute;
	right: 5px;
	top: 5px;
	margin: 0;
	padding: 0 8px;
	color: #fff;
	background-color: #0005;
	border-radius: 20px;
	-webkit-app-region: no-drag;
	cursor: pointer;
}
@keyframes slide {
	0% {
		margin-left: 100%;
		transform: translateX(0%);
	}
	100%{
		margin-left: 0%;
		transform: translateX(-100%);
	}
}
@keyframes stop {
	0% {
		margin-left: 50%;
		transform: translateX(-50%);
	}
	100%{
		margin-left: 0%;
		transform: translateX(-100%);
	}
}
.middle {
	animation: slide 10s linear forwards;
}
.lock {
	animation: stop 10s step-end forwards;
}